*{
    margin: 0;
    padding: 0;
    color: #000;
}
html {
    min-width: 550px;
    position: relative;
    }
ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.topbar{
    display:flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 0;
    height: 50px;
    background-color: #F6F6F6;
    align-items: center;
    min-height: 50px;
}
.section1b{
    display: flex;
    gap: 8px;
}
body{
    display: flex;
    background-image: linear-gradient(to right,  #EFDFC8, #806240, #433326,#2F1D1A);
    
}
button{

    padding: 8px;
    width: 150px;
}

.section2{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    height: 50px;
}

.poster{
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    text-align: center;
}

.image{
    height: 400px;
    width: 250px; 
}

.section4{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 50px;
    width: 80px;
}

h1,h2{
    text-align: center;
    font-family:cursive;
    font-size: 40px;
    color: black;
}
p{
    word-wrap: break-word;
    font-size: 40px;
}

.image:hover{
    background-color: #433326;
}

.section3{
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    background-color: #47362E;
}

.sunny{
    float: right;
    height: 400px;
    width: 350px;
}

.section4{
    display: flex;
  
}